@use "_variables" as *;

body {
  margin: 0;
}

.main {
  font-family: Raleway, sans-serif;

  h1,
  h2 {
    color: $main-color;
    font-weight: bold;
  }

  a,
  a:visited {
    color: $link-color;
  }

  a:hover {
    color: $main-color;
  }
}
